@{
	ViewData["Title"] = "SingleBlog";
	Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

@await Component.InvokeAsync("_SingleBlogTopComponentPartial")

<section class="ftco-section ftco-degree-bg">
	<div class="container">
		<div class="row">
			<div class="col-md-8 ftco-animate">
				@await Component.InvokeAsync("_SingleBlogContentComponentPartial")

				@await Component.InvokeAsync("_SingleBlogAuthorComponentPartial")


				@await Component.InvokeAsync("_SingleBlogCommentsComponentPartial")


				@await Component.InvokeAsync("_SingleBlogLeaveCommentComponentPartial")

			</div> <!-- .col-md-8 -->
			<div class="col-md-4 sidebar ftco-animate">

				@await Component.InvokeAsync("_SingleBlogCategoriesComponentPartial")

				@await Component.InvokeAsync("_SingleBlogRecentBlogsComponentPartial")


			</div>

		</div>
	</div>
</section>


