@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <title>CarBook</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/design/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/design/css/animate.css">
    <link rel="stylesheet" href="~/design/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/design/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/design/css/magnific-popup.css">
    <link rel="stylesheet" href="~/design/css/aos.css">
    <link rel="stylesheet" href="~/design/css/ionicons.min.css">
    <link rel="stylesheet" href="~/design/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/design/css/jquery.timepicker.css">
    <link rel="stylesheet" href="~/design/css/flaticon.css">
    <link rel="stylesheet" href="~/design/css/icomoon.css">
    <link rel="stylesheet" href="~/design/css/style.css">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="index.html">Car<span>Book</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Navigasyonu Aç/Kapat">
                <span class="oi oi-menu"></span> Menü
            </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a href="index.html" class="nav-link">Anasayfa</a></li>
                    <li class="nav-item"><a href="about.html" class="nav-link">Hakkımızda</a></li>
                    <li class="nav-item"><a href="services.html" class="nav-link">Hizmetler</a></li>
                    <li class="nav-item"><a href="pricing.html" class="nav-link">Fiyatlandırma</a></li>
                    <li class="nav-item"><a href="car.html" class="nav-link">Araçlar</a></li>
                    <li class="nav-item"><a href="blog.html" class="nav-link">Blog</a></li>
                    <li class="nav-item"><a href="contact.html" class="nav-link">İletişim</a></li>
                </ul>
            </div>
        </div>
    </nav>

    @RenderBody()

    <footer class="ftco-footer ftco-bg-dark ftco-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2"><a href="#" class="logo">Car<span>book</span></a></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4 ml-md-5">
                        <h2 class="ftco-heading-2">Bilgi</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-2 d-block">Hakkımızda</a></li>
                            <li><a href="#" class="py-2 d-block">Hizmetler</a></li>
                            <li><a href="#" class="py-2 d-block">Şartlar ve Koşullar</a></li>
                            <li><a href="#" class="py-2 d-block">En İyi Fiyat Garantisi</a></li>
                            <li><a href="#" class="py-2 d-block">Gizlilik ve Çerez Politikası</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Müşteri Destek</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-2 d-block">SSS</a></li>
                            <li><a href="#" class="py-2 d-block">Ödeme Seçenekleri</a></li>
                            <li><a href="#" class="py-2 d-block">Rezervasyon İpuçları</a></li>
                            <li><a href="#" class="py-2 d-block">Nasıl Çalışır</a></li>
                            <li><a href="#" class="py-2 d-block">Bizimle İletişime Geçin</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Soru Mu Var?</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li><span class="icon icon-map-marker"></span><span class="text">203 Sahte St. Mountain View, San Francisco, California, ABD</span></li>
                                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+2 392 3929 210</span></a></li>
                                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@domaininiz.com</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>
                        CarBook - Tüm Hakları Saklıdır © @DateTime.Now.Year
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>

    <script src="~/design/js/jquery.min.js"></script>
    <script src="~/design/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/design/js/popper.min.js"></script>
    <script src="~/design/js/bootstrap.min.js"></script>
    <script src="~/design/js/jquery.easing.1.3.js"></script>
    <script src="~/design/js/jquery.waypoints.min.js"></script>
    <script src="~/design/js/jquery.stellar.min.js"></script>
    <script src="~/design/js/owl.carousel.min.js"></script>
    <script src="~/design/js/jquery.magnific-popup.min.js"></script>
    <script src="~/design/js/aos.js"></script>
    <script src="~/design/js/jquery.animateNumber.min.js"></script>
    <script src="~/design/js/bootstrap-datepicker.js"></script>
    <script src="~/design/js/jquery.timepicker.min.js"></script>
    <script src="~/design/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="~/design/js/google-map.js"></script>
    <script src="~/design/js/main.js"></script>

</body>
</html>
