@{
    int yearExperience = DateTime.Now.Year - 2015;
}

<section class="ftco-counter ftco-section img bg-light" id="section-counter">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
                <div class="block-18">
                    <div class="text text-border d-flex align-items-center">
                        <strong class="number" data-number="@yearExperience"></strong>
                        <span>Yıllık <br>Deneyimiyle</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
                <div class="block-18">
                    <div class="text text-border d-flex align-items-center">
                        <strong class="number" data-number="@ViewBag.VehicleCount"></strong>
                        <span>Aracıyla <br>Hizmetinizde</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
                <div class="block-18">
                    <div class="text text-border d-flex align-items-center">
                        <strong class="number" data-number="@ViewBag.ReviewCount"></strong>
                        <span>Mutlu <br>Müşteri</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
                <div class="block-18">
                    <div class="text d-flex align-items-center">
                        <strong class="number" data-number="@ViewBag.BlogCount"></strong>
                        <span>Blog <br>Yazımızla Bilgilendiriyoruz</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>	