@using Project.Shared.DTOs.MissionVisionDtos
@model ResultMissionVisionDto

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <span class="subheading">Misyon & Vizyonumuz</span>
                <h2 class="mb-3">Misyon & Vizyonumuz</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="services services-2 w-100 text-center">
                    <div class="text w-100">
                        <h3 class="heading mb-2">@Model.MissionTitle</h3>
                        <p>@Model.MissionText</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="services services-2 w-100 text-center">
                    <div class="text w-100">
                        <h3 class="heading mb-2">@Model.VisionTitle</h3>
                        <p>@Model.VisionText</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
