@using Project.Shared.DTOs.BlogDtos
@model List<ResultBlogDto>

<div class="sidebar-box ftco-animate">
	<h3>Güncel Bloglar</h3>

	@foreach (var item in Model)
	{
		<div class="block-21 mb-4 d-flex">
			<a class="blog-img mr-4" style="background-image: url('@Url.Content(item.ImageUrl)');"></a>
			<div class="text">
				<h3 class="heading"><a href="@Url.Action("SingleBlog","Blog", new {id = item.BlogId})">@item.PreTitle</a></h3>
				<div class="meta">
					<div><a href="#"><span class="icon-calendar"></span>@item.PostDate.ToString("dd  MMM  yyyy")</a></div>
					<div><a href="#"><span class="icon-person"></span> Username</a></div>
					<div><a href="#"><span class="icon-chat"></span> 19</a></div>
				</div>
			</div>
		</div>
	}

</div>