<div style="position: relative; padding-bottom: 20px;">
    <div style="position: absolute; top: 20px; right: 20px; z-index: 10;">
        <form action="/Blog/Blog/Index" method="get" style="display: flex; align-items: center;">
            <input type="search" placeholder="Ara" aria-label="Search" name="keyWord" style="margin-right: 10px; border-radius: 4px; padding: 5px; border: 1px solid #ced4da;">
            <button type="submit" style="border: 1px solid #ced4da; padding: 5px 10px; background-color: #fff; cursor: pointer; border-radius: 4px;">Ara</button>
        </form>
    </div>
</div>