@{
	ViewData["Title"] = "Details";
	Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

@await Component.InvokeAsync("_VehicleDetailsTopComponentPartial")

<section class="ftco-section ftco-car-details">
	<div class="container">
		<div class="row justify-content-center">

			@await Component.InvokeAsync("_VehicleListImagesComponentPartial")

			@await Component.InvokeAsync("_VehicleInformationComponentPartial")

			<div class="row">
				<div class="col-md-12 pills">
					<div class="bd-example bd-example-tabs">

						@await Component.InvokeAsync("_VehicleTabSectionComponentPartial")

						<div class="tab-content" id="pills-tabContent">

							@await Component.InvokeAsync("_VehicleAmenitiesComponentPartial")

							@await Component.InvokeAsync("_VehicleDescriptionComponentPartial")

							@await Component.InvokeAsync("_VehicleReviewsComponentPartial")
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

@await Component.InvokeAsync("_VehicleOtherCarsComponentPartial")

