@using Project.Shared.DTOs.BlogDtos
@model ResultBlogDto

<section class="ftco-section ftco-degree-bg">
	<div class="container">
		<div class="row">
			<div class="col-md-8 ftco-animate">
				<h2 class="mb-3">@Model.PreTitle</h2>
				<p>@Model.PreDescription</p>
				<h2 class="mb-3">@Model.Title</h2>
				<p>@Model.Description</p>
			</div>
		</div>
	</div>
</section> 